<app-header></app-header>
<div class="users delay-1s">
  <div class="row  " align="center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 blue-borde title  ">
      <h1 >SELECCIÓN DE TRANSFERENCIA</h1>
    </div>

    <div class="col-sm-3"></div>
  </div>
  <div class="row ">
    <div class="col-sm-1"></div>
    <div class="col-sm-4"><h1 class="title">USUARIO</h1></div>
    <div class="col-sm-4 text" ><h3 >ITEM DE PETICIÓN</h3></div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <div class="row text" >
        <p >{{arregloUsuario[2]}} </p>
      </div>
      <div class="row">
        <img class="img-responsive" [src]="arregloUsuario[1]">
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <div class="row "  >
        <div class="col-sm-2"></div>
        <div class="col-sm-8" align="center" *ngFor="let producto of productoSeleccionado">
          <app-producto   [id]="producto.id" [imagen]="producto.imagen"  [texto]="producto.texto" [mostrar]="producto.mostrar" >
          </app-producto>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2" align="center" *ngFor="let producto of arregloProductos">
      <app-producto [imagen]="producto.imagen" [texto]="producto.texto" [id]="producto.id" [mostrar]="producto.mostrar" [btnText]="producto.btnText">
      </app-producto>
    </div>
    <div class="col-sm-2"></div>
  </div>


</div>
