<div class="row header">
  <div class="col-sm-8"></div>
  <div class="col-sm-4"> <img src="https://images.convertimage.net/cute_ball_info.png" alt="Girl in a jacket">
  </div>
  <div class=""></div>
</div>
<nav class=" bar">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-sm-1" align="center"></div>
      <div class="col-sm-2" align="right"> <i class="glyphicon glyphicon-search content"></i></div>
      <div class="col-sm-9 btn" >
        <div class="row">
          <div class="col-sm-7">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar">
            </div>
          </div>
          <div class="col-sm-5" align="left">
            <button type="submit" class="btn btn-default border-button">Buscar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
