<app-header></app-header>

<div class="users">
  <div class="row  " align="center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 green-borde title ">
      <h1>PETICIÓN DE TRANSFERENCIA</h1>
    </div>

    <div class="col-sm-3"></div>
  </div>
  <div class="row ">
    <div class="col-sm-1"></div>
    <div class="col-sm-5 animated shake"><h1 class="title ">USUARIO</h1></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3 text" ><h3 >MODELO PAPA</h3></div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <div class="row text" >
        <p >{{arregloUsuario[2]}} </p>
      </div>
      <div class="row">
        <img class="img-responsive" [src]="arregloUsuario[1]">
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-sm-1"></div>
    <div class="col-sm-11"><h1 class="title">MODELOS HIJO</h1></div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-2" align="center" *ngFor="let producto of arregloProductos">
      <app-producto [imagen]="producto.imagen" [texto]="producto.texto" [id]="producto.id">
      </app-producto>
    </div>
    <div class="col-sm-2"></div>
  </div>

  <div class="row">
    <div class="col-sm-12" align="center">
      <button class="btn button"> Cargar mas</button>
    </div>
  </div>

</div>
