.users{
  background-color: #95A5A6;
  left: 100px;
}

.title{
  color: #fcfff6;
}

.button{
  border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  background: #A93226;
  color: #222;
  font-weight: bold;
}

.text{
  text-align: center;
  color: #f9f9f9;
  font-weight: bold;
  font-size: 100%;
}
