<div class="">
  <div  *ngFor="let usuario of usuariosPeticiones">
    <div class="row">
      <div class="col-sm-2"></div>


      <div class="col-sm-8">
        <div class=" row  ">

          <div class=" col-sm-6 "  align="center">
            <div class="row spacer"> ""</div>
            <div class="row spacer"> ""</div>
            <div class="row spacer"> ""</div>
            <div class="row spacer"> ""</div>
            <div class="row spacer"> ""</div>
            <div class="row">
              <button class="btn accept-btn" type="button">Aceptar</button>
            </div>
            <div class="row spacer"> ""</div>
            <div class="row">
              <button class="btn decline-btn" type="button">Rechazar</button>
            </div>
          </div>

          <div class="col-sm-6 text-center">

            <app-usuarios [texto]="usuario.texto" [imagen]="usuario.imagen" [btnMostrar]="usuario.btnMostrar">
            </app-usuarios>
          </div>
        </div>
        <div class="row ">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 " *ngFor="let producto of productosIntercambio; let indice= index" >
            <div *ngIf="indice==0">
              <div class="row">
                <div class="col-sm-5 borde ">
                  <h4>Ítem de petición</h4>
                  <app-producto  [mostrar]="producto.mostrar" [imagen]="producto.imagen" [id]="producto.id" [texto]="producto.texto">
                  </app-producto>
                </div>
                <div class="col-sm-2" align="center" > <h1>&#x2194;</h1></div>
                <div class="col-sm-5 borde ">
                  <h4>Ítem de petición</h4>
                  <app-producto [mostrar]="producto.mostrar" [imagen]="producto.imagen" [id]="producto.id" [texto]="producto.texto">
                  </app-producto>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-1"> </div>
        </div>
      </div>


      <div class="col-sm-2"></div>
    </div>
  </div>
</div>



